@font-face {
    font-family: Montserrat Bold;
    src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Montserrat-UltraLight;
    src: url(../fonts/Montserrat-UltraLight.otf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/GothamBook.eot');
    src: local('GothamBook'), url('../fonts/GothamBook.woff') format('woff'), url('../fonts/GothamBook.ttf') format('truetype');
}

.row-header{
    height: 25px;
    background: #04e4a2;
}

header{
    background: #ef5350;
    height: 680px;
}


.logo{
    height: 100px;
    color: white;
    width: 220px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
    transform: translateY(-25px);
    z-index: 10;
    background:  #ef5350;
    font-size: 35pt;
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    font-family: "Montserrat Bold", Arial, sans-serif;
}

.contact{
    text-align: right;
    font-family: "Gotham Book";
}

.contact a{
    border-bottom: 2px solid #fdd835;
    font-size: 16pt;
    text-transform: uppercase;
    color: #f9fbe7
}

.gibson{
    transform: translateY(37px);
}

.content{
    padding-left: 40px;
    margin-top: 150px;
}

.content h1{
    color: #FFFFFF;
    font-family: Montserrat-Regular, Arial, sans-serif;
}

p{
    color: #f9fbe8;
    font-family: Montserrat-UltraLight, Arial, sans-serif;
}

.btn-contact{
    text-align: right;
}

.btn-warning{
    color: #f9fbe7;
    background: #ffb74d;
    font-family: Montserrat-Regular, Arial, sans-serif;
}

.form{
    padding-left: 40px;
}

.form h1{
    font-size: 20pt;
    color: #ff8a80;
}

.form input, .form textarea, .form select{
    border: 2px solid #e3f2fd;
    border-radius: 0;
}

.form-group select{
    margin-top: 20px;
}

.send{
    text-align: right;
}

.send button{
    margin-right: 85px;
    background-color: #1de9b6;
    padding: 5px 20px;
}

footer{
    background: #fefcf2;
    min-height: 60px;
    vertical-align: middle;
}

.mail{
    padding-left: 80px;
}

.mail a{
    font-family: FontAwesome, serif;
    padding: 20px 5px 10px 10px;
    background-color: #ff8a80;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    color: #fefcf2;

}

.mail p{
    color: #636363;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    margin-left: 10px;
    font-family: Montserrat-UltraLight, Arial, sans-serif;
}

.copyright{
    color: #636363;
    font-family: Montserrat-UltraLight, Arial, sans-serif;
    line-height: 60px;
}

.active{
    transform: rotate(180deg);
}

.blackbutton:checked ~ .changebutton{
    background-color: black;
}

.redbutton:checked ~ .changebutton{
    background-color: red;
}

@media (max-width: 767px){
    header{
        height: 500px;
    }
    .send button{
        margin-right: 0;
    }
    .mail{
        padding-left: 15px;
    }
}

@media (max-width: 500px){
    header{
        height: 620px;
    }
}

